#popup {
    width: auto;
    height: auto;
}

#loader {
    display: none;
    margin: auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.7s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input {
    display: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input:hover {
    filter: brightness(110%);
}

#btnTag1 { background-color: #4CAF50; }
#btnTag2 { background-color: #f44336; }
#btnTag3 { background-color: #008CBA; }
#btnResteems { background-color: #323232; color: #FFFFFF; }

